
.container{
width: 100px;
height: 200px;
display: grid;
place-items: center;
background-color :rgb(207, 198, 198);
padding: 10px;
border-radius: 30px;
}

#red-ligth{
background-color:rgb(245, 10, 10);
max-width: 50px;
min-height: 50px;
border-radius: 30px;
} 

#yellow-ligth{
    background-color:rgb(243, 247, 14);
    max-width: 50px;
    min-height: 50px;
    border-radius: 30px; 
}

#green-ligth{
    background-color:rgb(6, 167, 60);
    max-width: 50px;
    min-height: 50px;
    border-radius: 30px; 
}

















/* 
    
    import 'relative/path/to/stylesheet.scss';

*/
